
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	nav {
		background-color: red;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	nav {
		background-color: green;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	nav {
		background-color: blue;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	nav {
		background-color: yellow;
	}

	div.ml {
		margin-top: 5%;
	}

	p.margin-card {
		margin: 5%;
		margin-left: 0px;
	}

	img.rounded-pic {
		border-radius: 50%;
	}
}